###################################################################
# Junk, development and other hidden files
###################################################################
*.7z
*.bz2
*.cab
*.com
*.class
*.dmg
*.dll
*.exe
*.gz
*.iso
*.jar
*.lnk
*.log
*.map
*.msi
*.msm
*.msp
*.o
*.rar
*.stTheme.cache
*.sql
*.sqlite
*.so
*.sublime-workspace
*.tar
*.tgz
*.tmlanguage.cache
*.tmPreferences.cache
*.zip
._*
.apdisk
.AppleDB
.AppleDesktop
.AppleDouble
.codekit-cache
.DS_Store
.DS_Store?
.fseventsd
.htpasswd
.LSOverride
.sass-cache
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
$RECYCLE.BIN/
ehthumbs.db
Desktop.ini
Network Trash Folder
sitemap.xml
sitemap.xml.gz
sftp-config.json
Temporary Items
Thumbs.db

###################################################################
# Composer
###################################################################
vendor/*
!assets/js/vendor/
wpcs/

###################################################################
# Bower
###################################################################
bower_components/*

###################################################################
# Node
###################################################################
node_modules/*

###################################################################
# WordPress Files or folders that we typically don't need tracked
###################################################################
wp-config.php
public_html/.htaccess
/public_html/content/advanced-cache.php
/public_html/content/backup-db/*
/public_html/content/backups/*
/public_html/content/blogs.dir/*
/public_html/content/cache/*
/public_html/content/json/*
/public_html/content/upgrade/*
/public_html/content/uploads/*
!/public_html/content/uploads/.htaccess
/public_html/content/plugins/hello.php
/public_html/content/wp-cache-config.php
/public_html/wp/*
