//-----------------------------------------------------------------------//
// WORDPRESS LOGIN STYLESHEET
//
// This stylesheet is loaded (if admin.php is setup in the functions
// file) to style the WordPress Admin Login screen. It won't affect any
// other page, admin or front-end.
//-----------------------------------------------------------------------//
@import "setup/extensions/breakpoint";
@import "setup/extensions/susy";
@import "setup/variables";
@import "setup/functions";
@import "setup/mixins";

body {

    &.login { // page background color
        background: get-color(black);
    }

    form {
        &#loginform {
            background:     none;
            border:         none;
            box-shadow:     none;
            font-weight:    normal;
            margin:         .5em 0 0 .5em;
            padding:        26px 24px 46px;
        }

        label {
            color:      #fff;
        }

        .input { // form input fields
            background:     #FBFBFB;
            border:         1px solid #E5E5E5;
            box-shadow:     inset 1px 1px 2px rgba(200,200,200,0.2);
            font:           200 24px "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",sans-serif;
            margin:         2px 6px 16px 0;
            outline:        none;
            padding:        3px;
            width:          97%;
        }
    }
}

#login {
    #nav,
    #backtoblog {
        text-shadow: none;
    }

    #backtoblog {
        display:    none;
    }
}

.login {

    #login_error {
        background: #3c3c42;
        color:      #fff;
        box-shadow: none;
    }

    h1 a {
        background:     url('../images/logo-horiz.png') no-repeat left center;
        display:        block;
        height:         40px;
        overflow:       hidden;
        padding-bottom: 0px;
        text-indent:    -9999px;
        width:          116px;
        margin:         0 auto 1em;
    }

    #nav a,
    #nav a:hover,
    #backtoblog a:hover {
        color:          get-color(black);
    }

    label {
        color:      #ababab;
    }
}

#wp-submit {} /* login button*/

.wp-core-ui .button-primary {
    background:     get-color(black);
    border:         1px solid get-color(black);

    &:hover {
        background: get-color(black);
        border:     1px solid get-color(black);
    }
}

a {
    color: get-color(black);
}

.forgetmenot { display:none; }
